<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <title>Monitoreo ambiental para la salud</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/update_profile.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" />

</head>

<body>

  <header class="header">
    <nav class="navbar">

      <!-- Marca / Logo -->
      <a href="{{ url_for('home') }}" class="nav-brand">Vital Routes Dev</a>

      <!-- Menú derecho -->
      <div class="nav-menu">

        {% if logueado %}
          <span class="user-icon">👤</span>
          <span class="username">{{ session["username"] }}</span>

          <a href="{{ url_for('dashboard') }}">Dashboard</a>
          <a href="{{ url_for('logout') }}">Cerrar sesión</a>

        {% else %}
          <a href="{{ url_for('login') }}">Ingresar</a>
          <a href="{{ url_for('register') }}">Registrarse</a>
        {% endif %}

      </div>
    </nav>
  </header>

  <main class="main">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <p>Proyecto académico · Redgnar055</p>
  </footer>

</body>
</html>
